## CLASS AND OBJECT

In [17]:
class studentinfo:
    def __init__(self,name,age,mark):
        self.name=name
        self.age=age
        self.mark=mark

    def ageadd(self):
        self.age=self.age+5
        print(f"Age is {self.age}")

o1=studentinfo("jithu",22,450)
o2=studentinfo("paul",23,470)
o1.age

22

In [18]:
o1.ageadd()

Age is 27

In [19]:
o2.ageadd()

Age is 28

In [20]:
o1.age

27

## MOVIE TICKET GENERATION TASK

In [13]:
 class ticket:
    def __init__(self,name,mname,ntickets):
        self.name=name
        self.mname=mname
        self.ntickets=ntickets
        self.pricecal()

    def pricecal(self):

        ages=[]
        total=0
        
        for i in range(self.ntickets):
            
              a=int(input("Enter the ages of members"))
              ages.append(a)
            
        for i in ages:
            if i<18 or i>60:
                price=100
                total=total+price

            else:
                price=150
                total=total+price

        print(f"Pay Total Amount Of $ {total}")
        
        print(f"Thank You {self.name} for Booking {self.mname} With Us, Have a Nice Show")
        



if __name__=="__main__":
    name=input("Enter your name")
    mname=input("Enter Movie Name")
    ntickets=int(input("Enter Total No of Tickets Needed"))
                 
o1=ticket(name,mname,ntickets)

Enter your name Jithu
Enter Movie Name Kalki
Enter Total No of Tickets Needed 5
Enter the ages of members 17
Enter the ages of members 65
Enter the ages of members 25
Enter the ages of members 55
Enter the ages of members 50

Pay Total Amount Of $ 650
Thank You Jithu for Booking Kalki With Us, Have a Nice Show

# ENCAPSULATION 
## RESTRICTING ACCESS TO SOME COMPONENTS IN OBJECT

In [48]:
class software:

   def __init__(self,name,age,salary):
       self.age=age
       self.name=name
       self.salary=salary

o1=software('jithu',10,45000)

In [25]:
o1.age

10

In [26]:
o1.salary

45000

In [47]:
class software:

   def __init__(self,name,age,salary):
       self.age=age
       self.name=name
       self.__salary=salary # salary encapsulated

o1=software('jithu',10,45000)

In [33]:
o1.__salary

AttributeError: 'employe' object has no attribute '__salary'

## GETTER METHOD 
  ### - A METHOD ALLOWS TO ACCESS AN ATRIBUTE IN A GIVEN CLASS

In [46]:
class software:

   def __init__(self,name,age,salary):
       self.age=age
       self.name=name
       self.__salary=salary # salary encapsulated

#GETTER

   def show_sal(self):
        print(self.__salary)
            
       
               
           

o1=software('jithu',10,45000)
o1.show_sal()

45000

## SETTER METHODÂ¶
  ### A METHOD ALLOWS TO CHANGE A HIDDEN ATRIBUTE IN A GIVEN CLASS

In [45]:
class software:

   def __init__(self,name,age,salary):
       self.age=age
       self.name=name
       self.__salary=salary # salary encapsulated

#GETTER

   def show_sal(self):
        print(self.__salary)
        self.update_salary()

#SETTER

   def update_salary(self):
       self.__salary=self.__salary+5000
       print(self.__salary)
            
       
               
           

o1=software('jithu',10,45000)
o1.show_sal()

45000
50000

## INHERITANCE
#### PARENT CLASS

In [68]:
class person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname

    def print1(self):
        print(f"The name is {self.fname} {self.lname}")

x=person("jithu","raj")
x.print1()

The name is jithu raj

#### CHILD CLASS

In [73]:
class student(person):
   def __init__(self,fname,lname):
       person.__init__(self,fname,lname)

x=student("jithu","raj")
x.print1()

The name is jithu raj

## POLYMORPHISM

In [84]:
class car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def print(self):
        print("drive")

class boat:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def print(self):
         print("sale")

class plane:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def print(self):
         print("fly")

car = car("Ford", "Mustang")       
boat = boat("Ibiza", "Touring 20") 
plane = plane("Boeing", "747")

In [85]:
for x in (car,boat,plane):
    x.print()

drive
sale
fly